.item-service-card-dark {
  /*background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);*/
  padding: 5%;
  margin: 1%;
  border-radius: 5%;
  border: 10px;
  border: 1px solid rgb(34, 34, 34);
  box-sizing: border-box;
}

.item-service-card-light {
  /*background-color: white;
  color: rgb(34, 34, 34); */
  padding: 5%;
  margin: 1%;
  border-radius: 5%;
  border: 1px solid rgb(34, 34, 34);
  box-sizing: border-box;
}
