.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100vw;
}

.dark {
  background-color: #282c34;
  color: white;
}

.light {
  background-color: white;
  color: #000;
}

.service-overview {
  display: block;
  width: 100%;
}
