.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.dark {
  background-color: #282c34;
  color: white;
}

light {
  background-color: white;
  color: #000;
}
